body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

h1 {
    color: #2c3e50;
    text-align: center;
    margin-top: 20px;
    font-size: 2.5em;
}

h2 {
    color: #34495e;
    margin-top: 20px;
    border-bottom: 2px solid #e74c3c;
    text-align: center;
    padding-bottom: 5px;
}


p {
    margin: 15px 20px;
    font-size: 1.1em;
}

ul, ol {
    margin: 15px 40px;
    padding: 0;
}

ul li, ol li {
    margin-bottom: 10px;
}

a {
    color: #e74c3c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul li::marker {
    color: #e74c3c;
}

ol li::marker {
    color: #3498db;
}